*{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Roboto', sans-serif;
}

/* global classes start  */
h1{
    font-size: 50px ;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;

}
h3{
    font-size: 24px ;
    font-family: 'Roboto', sans-serif;

    font-weight:bold;
    color: #363958;
}
p{
    color: gray;
    font-size: 16px ;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    font-size: 16px ;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.float{
    float: left;
}

.container{
    width: 84%;
    height:600px;
    margin-left: 8%;
    margin-right: 8%;
  
}
.btn{
    top: 40px ;
    color: white;
    padding: 15px 30px ;
    background-color: #FF8063;
    border-radius: 5px ;
    position: relative;
    letter-spacing: 1px;
}


/* global classes End   */




/* manu section-start */
#manue{
    height: 100px ;
}

#manue .manubar ul{
    right: 10%;
    position: absolute;
    list-style-type: none;
}
#manue .manubar ul li{
    float: left;
    margin-top:30px;
    margin-left: 25px ;
}

#manue .manubar ul li a{
    color:#3C3C3C;
    font-weight: 700;
}

/* manue section End  */




/* intro section start  */
.h1{
    color: #363958;
    font-size: 60px ;
    font-weight: 400;
    text-transform: uppercase;
}
.MyName{
    color: #FF8367;
    font-size: 70px ;
    font-weight: 500;
    margin-top: -25px ;
    text-transform: uppercase;
}

.intro-contant{
    width: 50%;
    margin-top: 97px ;
}
.intro-contant p{
    margin-top: 20px ;
    font-size: 18px ;
}
.intro-image{
    width: 45%;
    
}
.intro-image img{
   width: 100%;
    
}


/* intro section End */






/* about section start  */
.about-image{
    width: 40%;
}


.about-image img{
    width: 100%;
     height: 600px ;
     margin-top: -100px ;
}
.about-right-contant{
    width: 50%;
    padding-left: 100px ;
    margin-left: 100px ;
    margin-top: 30px ;
    box-sizing: border-box;
}
/*   About Section End  */





/* skill bar start  */
#progress-bar{
    margin-top: 80px ;
    margin-bottom: 100px ;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.background-color{
 
  width: 100%;
  height: 25px ;
  background-color: rgb(223, 206, 206);

}
.bar-color{

    text-align: center;
    color: white;
    font-weight: 800;
    background-color: lightslategray;

}

#progress-bar .container span{
    font-size: 24px ;
    color: gray;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
}
.wrapper{
     height: 460px;
     background-color:#fdfbfb;
     box-shadow: 3px 8px 8px -6px #888888;
}
.progress-bar-container{
  width: 60%;
  margin: 0 auto;
  padding-left: 20px ;
  padding-right: 20px ;
  box-shadow: 0px 10px 8px 3px #888888;
}

/* skill bar end  */






/* project area start  */
#project-area{
    width: 100%;
    margin-bottom: 50px ;
    background-color:#fdfbfb;
    height: 650px ;
}

#project-area .h1{
    text-align: center;
    padding: 50px 0;
    background-color:#fdfbfb;
}
#project-area .container{
    height: auto;
    
}

.project-demo{
    width: 30%;
    padding: 20px ;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 10px ;
    line-height: 30px ;
    box-shadow: 4px 7px 7px 6px #f3f3f3;
    
}

.project-demo img{
    width: 336px ;
    height: 209px ;
   
}
/* project area End  */





/* footer start */

#footer{
    margin-left: 40px ;
    margin-top: 200px ;
}

#footer .container{
    width: 70%;
    height: 250px ;
    margin: 60px auto;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}


#footer .container .h1{
    color:white;
    font-size: 64px ;
    margin-top: 80px  ;
    margin-left: 116px;
    background: transparent;
  
}

#footer .container .btn{
    margin-top: 60px ;
    margin-left: 403px;
}

.contract-area{
    line-height:50px;
    text-align: center;
    

}
.contract-area .footer-h3{
    color: gray;
    margin-top:74px;
    font-size: 20px ;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
   
}
.contract-area h3 a{
    margin-top: 20px ;
    font-size: 36px ;
    color: #363958;
    font-weight: 700;
    letter-spacing: normal;
    text-transform:lowercase;
    font-family: 'Roboto', sans-serif;
}

.social-icon a img{
    width: 50px ;
    height: 50px ;
    margin-top: 30px;
    margin-left: 20px ;
    margin-bottom: 50px ;
 
  
}

/* End and Finish  */